.conteudo {

-fx-background-color: black;
-fx-text-fill: #eee;
}

.titulo{

-fx-text-fill: #48b2ee;
-fx-font-size: 36px

}

.numero{

-fx-text-fill: #eee;
-fx-font-size: 28px;

}

.botoes{

-fx-background-color: #fff;
-fx-text-fill: #eee;
-fx-font-size: 24px;
fx-min-width: 60px;
fx-min-height: 60px;
-fx-background-radius: 30px;

}

.verde{

-fx-text-fill: green;

}

.vermelha{

-fx-text-fill: #ee4139;

}